.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
 background-image: url("./components/weatherOne.png");
 background-repeat: no-repeat;
 

}


.header {
  color: black;
  font-size: 2rem;
}




/* CSS  this code was taken from https://getcssscan.com/css-buttons-examples by squareShot*/
.button {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family:'Fjalla One', sans-serif; 
  font-size: 1.5rem;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 50%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  left: 950px;
  bottom: 45px;
}

.button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button:hover:after {
  transform: translate(0, 0);
}

.button:active {
  background-color: #ffdeda;
  outline: 0;
}

.button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button {
    padding: 0 40px;
  }
}

.box {
  display:grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 350px;
  
}

.dropDown {
  color: black;
  background-color: orange;
  border-radius: 5%;
  border:none;
  height: 45px;
  width: 200px;
  font-size: 2rem;
}

.city, .weather, .selectCity, .newWeather {
  color: black;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 900;
}

.selectCity {
  font-size: 2rem;
}

.city {
  width: 90%;
  font-size: 2.8rem;
  background-color: white;
  color: rgb(227,70,70);
  color: radial-gradient(circle, rgba(227,70,70,1) 0%, rgba(244,14,11,1) 0%, rgba(242,238,238,1) 65%);
  font-family: monospace;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 10%;
  padding-left: 50px;
  margin-left: 20px;
  margin-top: -5px;
  text-align: center;
  align-items: center;
  border: 7px solid black;
 
}

.weather {
  font-size: 2rem;  
}

.all-border{
  border-left: solid 2px #fbb13c;
  padding: 5px;
}

.newWeather {
  font-size: 2rem;
}

.display {
  color: #d81159;
  text-align: center;
  font-size: 2rem;

}

.stylingDate {
  display: flex;
    flex-direction: column;
    width: 10.5rem;
    height: 10.5rem;
    border: 1px solid #ececec;
    background-color: #2a2a2a;
    color: white;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    
}

.text {
  font-size: 1rem;
}

.white {
  color: white;
}

.black {
  color: black;
}